<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>frasesbienvenida</name>
	<displayName><![CDATA[Frases Bienvenida]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Para elegir frases en backoffice]]></description>
	<author><![CDATA[Rubén Gómez Romero-Nieva]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
